table{
    background-color: beige;
    border: 1px solid black;
    border-spacing: 10px;
    width: 300px;
}

td{
    background-color: aquamarine;
    border: 1px solid black;
}

.hide{
    empty-cells: hide;
}

.show{
    empty-cells: show;
}