body{
    font-family: arial, sans-serif;
}

table{
    border-collapse: collapse;
    width: 80%;
}

th,
td{
    text-align: left;
    padding: 0.25em; 
    border: 1px solid #ccc;
}

tbody tr:nth-child(odd) {background: #e2f2f5;}

tfoot td{
    text-align: center;
    font-style: italic;
    font-size: 0.75em;
}