#wrapper{
    width: 960px;
}

h1{
   text-align: center; 
}

aside{
   float: left;
   width: 27.08%; 
}

main{
    width: 72.91%;
    float: right;
}

ul{
    list-style-type: none;
    padding: 0;
}

li.columna{
    float: left;
    width: 31%;
    padding: 5px;
}

li.datos{
    float: left;
    width: 70%;
    padding: 5px;
}